com.bea.core.descriptor.wl.jar/META-INF/schemas/deployment-config-overrides.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://xmlns.oracle.com/weblogic/deployment-config-overrides" attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:dco="http://xmlns.oracle.com/weblogic/deployment-config-overrides" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="deployment-config-overrides-include.xsd"/>
  <xs:element name="deployment-config-overrides" type="dco:deployment-config-overridesType"/>
  <xs:complexType name="deployment-config-overridesType">
    <xs:sequence>
      <xs:element name="command-line-options" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The user specified command line options when
            generating the deployment-config-overide.xml using 
            the weblogic.OverrideDeploymentConfig tool.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="dco:app-deploymentType" name="app-deployment" minOccurs="0" maxOccurs="unbounded" nillable="true">
        <xs:annotation>
          <xs:documentation>Generated using application source and all referred
            library sources</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="dco:libraryType" name="library" minOccurs="0" maxOccurs="unbounded" nillable="true">
        <xs:annotation>
          <xs:documentation>Generated using the latest version sub-directory
            name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>